In [3]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp310-cp310-win_amd64.whl (69 kB)
     -------------------------------------- 69.4/69.4 kB 180.4 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pyodbc

In [ ]:

# Connection settings
server = "203.171.28.250"
database = "ANALYTICS"
username = "namba"
password = "R2YUUCR7xN4aF5"

conn = pyodbc.connect(
    f"DRIVER={{SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password}"
)

query = """
SELECT *
FROM dbo.test1
"""

df = pd.read_sql(query, conn)

df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_17264\2044099172.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,PR_DETAIL_ID,PR_DETAIL_NAME,PR_DETAIL_TYPE_ID,PR_DETAIL_CLASS_ID,ADDRESS,PHONE,FAX,EMAIL,TAX_FILE_NUMBER,BANK_NAME,BANK_ACCOUNT,BANK_BRANCH,PR_ACCOUNT_ID,PRICE_LEVEL_ID,ACTIVE,USER_ID,PROVINCE_ID,PAYMENT_TERM_ID,BANK_CARD_NO,BANK_ACCOUNT_HOLDER
0,0000,None 1,05,NV,,,,,,,,,,,1,ADMIN,,,,
1,0105251191-004,Chi Nhánh Công Ty TNHH Hầm Rượu Châu Á Thành P...,01,NCC,"Số 2 Chu Mạnh Trinh, Phường Bến Nghé, Quận 1, ...",,,,0105251191-004,,,,,,0,A2254,,,,
2,0107543457-001,Chi Nhánh Công Ty TNHH Rada Việt Nam,01,NCC,"81 Nguyễn Khoa Đăng, Phường Thạnh Mỹ Lợi, Thàn...",,,,0107543457-001,,,,,,0,A2254,,,,
3,0108076170,Công Ty TNHH TM và Sự Kiện Như Ý Cát Tường,01,NCC,"Thôn Giang Cao, Xã Bát Tràng, TP Hà Nội, Việt Nam",,,,0108076170,AGRIBANK,3120201238140,,,,1,A2623,,,,CONG TY TNHH TM VA SU KIEN NHU Y CAT TUONG
4,0108783652,Công Ty Cổ Phần Phát Triển Dũng Hà,01,NCC,"Tầng 1, Số 11 phố Kim Đồng, P.Giáp Bát, Q.Hoàn...",,,,0108783652,,,,,,0,A2254,,,,

In [12]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']